.advantages {
  padding-top: 110px;
  padding-bottom: 120px;

  background-color: $color-solitude;
  background-image: url("../img/mountains-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mountains-background@2x.webp");
  }
}

.advantages__cards {
  display: grid;

  margin-top: 48px;

  grid-template-columns: repeat(3, 1fr);
  gap: 40px 40px;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;

    margin-top: 30px;

    row-gap: 30px;
  }
}

.advantages h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  margin-top: 0;
  padding: 0 10px;

  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
  }
}
