.card {
  position: relative;
  min-width: 360px;
  padding: 64px 10px 30px 30px;
  background-color: $color-alice-blue;

  @include vp-1365 {
    min-width: 206px;
    padding: 73px 16px 6px 20px;
  }

  @include vp-767 {
    min-width: 250px;
  }
}

.card svg {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1365 {
    line-height: 25px;
  }
}

.card p {
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
}


.card--liner svg {
  @include vp-1365 {
    top: 26px;
    left: 20px;
    width: 21px;
    height: 26px;
  }
}

.card--all-inclusive svg {
  @include vp-1365 {
    top: 30px;
    left: 20px;
    width: 33px;
    height: 19px;
  }
}

.card--tour svg {
  @include vp-1365 {
    top: 33px;
    left: 20px;
    width: 38px;
    height: 13px;
  }
}
