.card {
  min-width: 360px;
  padding: 87px 42px 50px 30px;
  background-color: $color-alice-blue;

  @include vp-1365 {
    min-width: 206px;
    padding: 76px 16px 25px 20px;
  }

  @include vp-767 {
    min-width: 250px;
  }
}

.card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.card p {
  font-size: 14px;
  line-height: 20px;
}
