.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-alice-blue;

  @include vp-1365 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 42px;

  @include vp-1365 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.contacts__container p {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1365 {
    margin-bottom: 22px;
  }
}

.contacts__container address {
  margin-bottom: 20px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contacts__container a {
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.5;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__info {
  max-width: 500px;
  margin-top: 56px;
  margin-left: auto;

  @include vp-1365 {
    margin-top: 49px;
  }
}
