.cruises {
  padding: 88px 15px 120px;
  background-color: $color-alice-blue;

  @include vp-1365 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 65px 10px;
  }
}

.cruises h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1365 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
  }
}

.cruises__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 30px;
  margin-top: 47px;

  @include vp-1365 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}
