.cruises {
  padding: 120px 15px;
  background-color: $color-alice-blue;

  @include vp-1365  {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767  {
    padding: 65px 10px;
  }
}

.cruises h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}

.cruises__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(386px, max-content);
  gap: 30px;

  @include vp-1365  {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

