.cruise {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 260px;
  height: 386px;
  padding: 0;

  background-color: $color-tangaroa;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    height: 386px;
    width: 270px;
  }
}

.cruise:hover,
.cruise:focus,
.cruise:focus-within {
  padding: 30px 25px 25px;

  overflow-y: scroll;
  scrollbar-width: auto;

  @include vp-1023 {
    padding-right: 34px;
    padding-left: 34px;
  }

  @include vp-767 {
    padding-right: 23px;
    padding-left: 23px;
  }
}

.cruise:focus-within {
  outline: 1px solid $color-tangaroa;
}

.cruise img {
  z-index: 2;
  top: 0;
  left: 0;

  width: 260px;
  height: 386px;

  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-property: opacity;

  opacity: 1;

  object-fit: cover;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    height: 386px;
    width: 270px;
  }
}

.cruise:hover img,
.cruise:focus img,
.cruise:focus-within img {
  width: 0;
  height: 0;

  transition-timing-function: ease-out;

  opacity: 0;
}

.cruise h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  position: relative;
  z-index: 3;
  bottom: 47px;
  left: 31px;

  margin-top: 0;
  margin-bottom: 13px;
  width: 70%;

  color: $color-alice-blue;

  @include vp-1023 {
    bottom: 54px;
    left: 36px;
  }

  @include vp-767 {
    bottom: 48px;
    left: 25px;
    width: 70%;
  }
}

.cruise:hover h3,
.cruise:focus h3,
.cruise:focus-within h3 {
  position: static;
}

.cruise dl {
  display: none;

  margin-top: 0;
  margin-bottom: 0;

  color: $color-alice-blue;
}

.cruise:hover dl,
.cruise:focus dl,
.cruise:focus-within dl {
  display: block;
}

.cruise dt {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  margin-bottom: 2px;
}

.cruise dd {
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 10px;
  margin-left: 0;

  color: $color-quartz;
}

.cruise a {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  display: block;
  visibility: hidden;

  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 9px 15px 10px;

  text-align: center;

  background-color: $color-alice-blue;
  user-select: none;

  &:hover {
    outline: 3px solid #5c7ba5;
  }

  &:focus {
    outline: 3px solid #6dabfd;
    visibility: visible;
  }

  &:active {
    opacity: 0.3;
  }
}

.cruise:hover a,
.cruise:focus a,
.cruise:focus-within a {
  visibility: visible;
}
