.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $color-tangaroa;

  @include vp-1023 {
    padding-top: 33px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 24px;
    padding-bottom: 20px;
  }
}

.footer__container {
  display: grid;

  grid-template-columns: 80px 5fr 1fr;
  gap: 20px 30px;

  @include vp-1023 {
    grid-template-columns: 40px 5fr 1fr;
    column-gap: 23px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;

    gap: 0;
  }
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 19px;

  @include vp-1023 {
    margin-top: 17px;
  }
}
