.logo
{
    &:hover
    {
        opacity: .7;
    }

    &:focus
    {
        opacity: .5;
        outline: none;
    }

    &:active
    {
        opacity: .3;
    }
}

.logo img
{
    @include vp-1365
    {
        width: 38px;
        height: 20px;
    }
}
