.nav-wrap {
  width: 100vw;
  height: 100%;
  background-color: #33363680;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin-left: auto;

  gap: 10px 33px;

  @include vp-1023 {
    gap: 7px 23px;
  }

  @include vp-767 {
    flex-direction: column;

    margin-left: 0;

    gap: 0;
  }
}

.navigation__toggle {
  display: none;

  @include vp-767 {
    position: absolute;
    top: -10px;
    right: -14px;

    display: block;

    width: 60px;
    height: 60px;
    padding: 25px 15px;

    cursor: pointer;

    border: none;
    background-color: transparent;
  }
}

.navigation__logo {
  display: none;
}

.navigation a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;

    color: $color-tangaroa;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.5;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation--no-js .navigation__logo {
  @include vp-767 {
    top: -50px;
    left: 0;

    display: block;
  }
}

.navigation--opened {
  @include vp-767 {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;

    min-width: 285px;
    height: 100vh;
    padding: 70px 25px 20px;

    background-color: $color-alice-blue;
  }
}

.navigation--opened .navigation__logo {
  @include vp-767 {
    position: absolute;
    top: 7px;
    left: 17px;

    display: block;
  }
}

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 27px;

    width: 18px;
    height: 2px;

    content: "";

    background-color: $color-tangaroa;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation--closed .navigation__logo {
  @include vp-767 {
    display: none;
  }
}
//кнопка бургер на закрытом меню
.navigation--closed .navigation__toggle::before {
  position: absolute;
  top: 23px;
  right: 15px;

  width: 24px;
  height: 2px;

  content: "";

  background-color: $color-alice-blue;
  box-shadow: 0 7px 0 0 $color-alice-blue, 0 14px 0 0 $color-alice-blue;
}

.navigation--closed a {
  @include vp-767 {
    display: none;
  }
}

.navigation--header a {
  @include vp-767 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.navigation--footer {
  margin-right: auto;
  margin-left: 0;

  color: $color-alice-blue;

  @include vp-767 {
    margin-right: 0;
  }
}

.navigation--footer a {
  padding-top: 11px;
  padding-bottom: 13px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 15px;

    padding-top: 9px;
    padding-bottom: 9px;

    color: $color-alice-blue;
  }
}
