.welcome {
  min-height: 650px;
  padding: 270px 103px 10px;
  padding-top: 270px;
  padding-bottom: 10px;

  color: $color-alice-blue;
  background-color: $color-dark-cerulean;
  background-image: url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1365 {
    min-height: 644px;
    padding: 266px 45px 10px;
    padding-top: 266px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    min-height: 505px;
    padding: 176px 15px 10px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome@2x.jpg");
  }
}

.welcome h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;

  margin-top: 0;
  margin-bottom: 12px;

  text-shadow: 0 4px 4px $color-transparent;

  @include vp-1365 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.welcome p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 0;

  text-shadow: 0 4px 4px $color-transparent;

  @include vp-1365 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;

    max-width: 80%;
  }
}
